.gif-banner {
    position: relative;
    text-align: center;
    font-size: 2em;
}

.container {
    width: 100%;
    height: 200px;
}

.gif {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    padding: 5px;
}

